.DS_Store
/playground.xcworkspace
*.xcworkspace
*.xcuserstate
*/playground.xcworkspace/xcuserdata/juansevargas.xcuserdatad/UserInterfaceState.xcuserstate
*/contents.xcplayground
/imagenes
/imagenes/*
/timeline.xctimeline
